body {
    background-color: lavender;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: lavender;
    padding: 20px;
    text-align: center;
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

h1 {
    color: purple;
}

h2 {
    color: purple; /* Couleur rose pour les titres h2 */
    font-family: Montserrat, sans-serif; /* Utilisation de la police Montserrat pour les titres h2 */
}


